layout python3

# Check if deps/cadquery/cadquery directory exits
# if it doesn't we need to initialize the submodule
if [ ! -d deps/cadquery/cadquery ]; then
	echo "Initializing ./deps/cadquery"
	git submodule update --init
fi

# Check if deps/cadquery has been installed and that it's
# installed from `deps/cadquery`. If not then install it
# from deps/cadquery.
if python -c 'import cadquery, sys; sys.exit(0 if "deps/cadquery" in cadquery.__file__ else 1)' 2>/dev/null; then
    echo "cadquery is already installed from deps/cadquery"
else
    echo "Installing cadquery from deps/cadquery"
    pip install --editable deps/cadquery > /dev/null
fi
