layout python3

# Check if deps/cadquery/cadquery directory exits
# if it doesn't we need to initialize the submodule
if [ ! -d deps/cadquery/cadquery ]; then
	echo "Initializing ./deps/cadquery"
	git submodule update --init
fi

# Try to import cadquery and if successful besure it's from `deps/cadquery`
if python -c 'import cadquery, sys; sys.exit(0 if "deps/cadquery" in cadquery.__file__ else 1)' 2>/dev/null; then
    # All is well, deps/cadquery is being used
    echo "cadquery is already installed from deps/cadquery"
else
    # Not installed or not from deps/cadquery
    echo "Try to install cadquery from deps/cadquery"
    pip install --editable deps/cadquery
fi
